/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --bgcolor:#666666;
    --bgcolordark:#313138;
    --bgcolorlight: #edc9c9;
    --color1: #fcbc3c;
    --color2: #f4f491;
    --color3: #548434;
    --color4: #a45c84;
    --color5: #c4be81;
    --color6: #54402c;
    --color7: #023F92;
    --color8: #5318a0;
    --color9: #26b89d;
    --fontvintage: #e0eae4;
    --proj-nonselect: #5318a0;
  }

  /* set content highlight color and background */
  ::selection {
    background-color: var(--color5);
    color: var(--color6);
  }
  

  @import url('https://fonts.googleapis.com/css?family=Poppins:700');

  * {
    box-sizing: border-box;
  }

  html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }
  
  body {
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--fontvintage);
    background-color: var(--bgcolor);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

  header {
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background: var(--bgcolor);
    display: flex;
    align-items: center;
    border-bottom: solid 1rem var(--fontvintage);
    box-shadow: 0 5px 20px var(--bgcolordark);
}

header nav {
  z-index: 7;
  position: absolute;
  right: 4vw;
  top: 3.3vh;
  text-align: right;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--fontvintage);
    font-weight: 400;
    line-height: 1.1;
    font-family: 'Poppins', sans-serif;
  }
  
  h1, h1.h1FN, h1.h1LM {
    /* 4rem = 40px (4 * 10px) */
    /* font-size: 3rem; */
    font-size: 20vmin;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 3rem;
    position: relative;
  } 

  h1.h1FN {
    z-index: 6;
  }

  h1.h1LM {
    z-index: 3;
  }
  
  h2 {
    font-size: 5vmin;
    padding-left: 5rem;
    z-index: 3;
    position: relative;
  }
  
  h3 {
    font-size: 4.3vmin;
  }
  
  h4 {
    font-size: 2.5rem;
  }
  
  h5 {
    font-size: 1rem;
  }
  
  h6 {
    font-size: 0.8rem;
  }
  
  header p {
    font-size: 2.5rem;
    padding-left: 5rem;
    z-index: 8;
  }


  p {
    margin: 0;
    font-size: 2rem;
  }

  
  a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    cursor: grab;
    color: var(--fontvintage);
  }


  ul.topnavul, ul.topnavsmul {
    list-style-type: none;
  }

  ul.topnavul li.topnavli
  {
    font-size: 5rem;
    display: block;
  }

  ul.topnavsmul li.topnavsmli
  {
    font-size: 6rem;
    display: inline;
  }

  ul.topnavul li.topnavli a:hover, 
  ul.topnavul li.topnavli a:active,
  ul.topnavsmul li.topnavsmli a:hover, 
  ul.topnavsmul li.topnavsmli a:active {
    cursor: grab;
    color: #fff;
    background-color: var(--color9);
    padding-right: 10px;
  }
  
 
  ul.topnavsmul li.topnavsmli a:active {
    display: inline;
    font-size: 10rem;
  }
  ul.topnavul li.topnavli a:hover::before {
    background-color: var(--color9); 
    color: #fff;
    content: "❣❣❣";
    display: inline-block;
    font-size: 2.5rem;
    padding-right: 5px;
    padding-left: 10px
  }

  main {
    width: 96%;
    margin: 2rem auto;
  }
  


  footer {
    background-color: var(--color4);
    font-size: 2rem;
    border: 0;
    padding-bottom: 1rem;
    margin: 0;
    width: 100vw;
  }

  footer nav {
    position: relative;
    top: 1rem;
    right: 1rem;
    text-align: center;
  }


  ul.footnav {
    list-style-type: none;
  }

  ul.footnav li.footnavli,
  ul.footnav li.footnavsmli
  {
    font-size: 2rem;
    display: inline; 
    padding-right: 2rem;

  }

  ul.footnav li.footnavli a:hover, 
  ul.footnav li.footnavli a:active,
  ul.footnav li.footnavsmli a:hover, 
  ul.footnav li.footnavsmli a:active {
    cursor: grab;
    color: #fff;
    background-color: var(--color9);
    padding-right: 2rem;
    padding-left: 2rem;
  }

  ul.footnavul li.footnavli a:hover::before {
    background-color: var(--color9); 
    color: #fff;
    content: "❣❣❣";
    display: inline-block;
    font-size: 1rem;
    padding-right: 10rem;
    padding-left: 10rem;
  }
/* header css animation */

.blob_container {
  display: flex;
  flex-direction: row;
 }
 
 .blob_flex_item {
 display: flex;
 justify-content: flex-end;
 }
 
 .blob_flex_item2 {
   display: flex;
   justify-content: right;
   }
 
   .blob_flex_item3 {
     display: flex;
     justify-content: center;
     }
 
 .blob {
   position: absolute;
   top: -75vh;
   left: -50vw;
   fill: var(--color7);
   width: 50vmax;
   z-index: 5;
   animation: move 10s ease-in-out infinite;
   transform-origin: 50% 50%;
   opacity: 90%
 }
 
 @keyframes move {
   0%  { transform: scale(0.8, 1) translate(90vw, 25vh) rotate(160deg); }
   38%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
   40%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
   88% { transform: scale(1)   translate(10px, -30px); }
   90%   { transform: scale(1)   translate(10px, -30px); }  
   100%  { transform: scale(0.8, 1) translate(90vw, 25vh) rotate(160deg); }
 }
 
 .blob2 {
   position: relative;
   top: -150vh;
   right: -20vw;
   fill: var(--color7);
   width: 60vmax;
   z-index: 4;
   animation: move2 10s ease-in-out infinite;
   transform-origin: 50% 0%;
   opacity: 70%
 }
 
 @keyframes move2 {
   0% { transform: scale(1)   translate(10px, -30px); }
   48%  { transform: scale(1.3) translate(-30vw, 40vh) rotate(-20deg); }
   50%  { transform: scale(1.3) translate(-30vw, 40vh) rotate(-20deg); }
   78%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
   80%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
   100%   { transform: scale(1)   translate(10px, -30px); }
 }
 
 .blob3 {
   position: absolute;
   bottom: 95vh;
   left: 20vw;
   fill: var(--color7);
   width: 60vmax;
   z-index: 5;
   animation: move3 10s ease-in-out infinite;
   transform-origin: 20% 0%;
   opacity: 80%;
 }
 
 @keyframes move3 {
   0%  { transform: scale(1.3) translate(-30vw, 40vh) rotate(-20deg); }
   18%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
   20%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
   68%   { transform: scale(1)   translate(10px, -30px); }
   70% { transform: scale(1)   translate(10px, -30px); }
   100%  { transform: scale(1.3) translate(-30vw, 40vh) rotate(-20deg); }
 }
 
  
.page_section {
  width: 100vw;
}
/* container for about me, portfolio and contact sections */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 4rem;
}


.flex_item_left {
  display: flex;
  width: 20vw; 
  position: relative;
  justify-content: flex-end;
  padding-top: 2rem;
  padding-right: 2rem;
  border-right: solid  0.5rem var(--fontvintage);
  box-shadow: 5px 0 20px var(--bgcolordark);
}

.flex_item_right {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: left; 
  padding-left: 2rem;
  padding-right: 5rem;
}

.flex_item_right_contact {
  width: 80vw;
  justify-content: left; 
  padding-left: 2rem;
  padding-right: 5rem;
}

form {
  text-align: left;
  padding-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: auto;
  color: var(--fontvintage);
  background-color: var(--color3);
  border: solid 1px var(--fontvintage);
  border-radius: 8px;
  box-shadow: 1px 4px var(--bgcolordark);
}

.button:hover {background-color: var(--color4)}

.button:active {
  background-color: var(--color3);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contact_container {
  display: flex;
  justify-content: flex_left;
  align-content: center;
}

.avatar {
  width: 12vw;
  height: 12vw;
  float: left; 
  padding: 0px 0px 0px 0px;
  margin: 2vw;
  background-color: var(--color3);
  border-radius: 60%;
  border: solid  0.5rem var(--fontvintage);
  box-shadow: 5px 0 20px var(--bgcolordark);
  /* opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden; */
}

.avatar_image {
  opacity: 1;
  display: block;
  width: 12vw;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.avatar_container {
  position: relative;
  width: 50%;
  cursor: grab;
}

.avatar_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /* top: 50%;
  left: 50%;  */
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  text-align: center;
}

.avatar_container:hover .avatar_image {
  opacity: 1;
}

.avatar_container:hover .avatar_middle {
  opacity: 1;
}




.disclaimer {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}

/* formattting the left side of each section */

.about_format {
  background-color: var(--color4);
}


.portfolio_format {
  background-color: var(--color7);
}

.contact_format {
  background-color: #548434;
}

.opener {
    font-weight: bolder;
    font-size: larger;
    color: var(--color1);
}



/* ----------------------------------- 
Portfolio flex container 
--------------------------------------*/

#portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio1, .portfolio2, .portfolio3, .portfolio4, .portfolio5 {
background-size: cover;
background-position: center;
border-radius: 15px;
border: groove  0.5rem var(--fontvintage);
box-shadow: 5px 0 20px var(--bgcolordark);
}

.portfolio1 {
  background-image: url("../images/webdeveloper_peiwang_teanamu_dot_com.jpg");
}

.portfolio2 {
	background-image: url("../images/webdeveloper_peiwang_tokei_applewatch_app.png");
}

.portfolio3 {
  background-image: url("../images/webdeveloper_peiwang_potterySchool.png");
}
.portfolio4 {
  background-image: url("../images/webdeveloper_peiwang_patisseriesshop.png");
}
.portfolio5 {
  background-image: url("../images/webdeveloper_peiwang_mamebonsai.png");
}

.portfolio_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio_flex_item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  min-height: 150px;
  background-color: var(--color5);
  padding: 10px;
}

.portfolio_flex_item div {
  background-color: var(--color3);
  padding: 10px;
}

.portfolio_flex_item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

.portfolio_flex_item a.link,
.portfolio_flex_item a.visited,
.portfolio_flex_item a.hover,
.portfolio_flex_item a.active {
  cursor: grab;
  text-decoration: none;
}


.footmsg {
  font-size: 1.5rem;
  top: 2rem;
  bottom: 2rem;
  text-align: center;
  display: inline;
  color: var(--color5);
}



/* using media queries to honour devices which prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    header, #blob_container {
      animation: fade 0.5s ease-in both;
    }
  }

  /* A version for the desktop was designed first and then adapted to tablets and mobile screens using media queries  */
  /* the breakpoint for typical tablet is 744px. However, the design of this page will break at around 805px*/
  /*------------------------------
   MEDIA QUERY for Tablets
   -------------------------------*/

  @media screen and (max-width: 805px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .portfolio_flex_item {
      flex-basis: 100%; /* as opposed to calc(50% - 1em */
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .portfolio_flex_item:first-child {
      min-height: 150px;
    }

/* make mobile nav */
header {
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: var(--bgcolor);
  /* display: flex;
  align-items: center; */
}


header nav {
z-index: 12;
position: absolute;
width: 100vw;
top: 0;
height: 7vh;
margin: 0 auto;
right: 0vw;
text-align: center;
opacity: 90%;
background-color: var(--color7);
}

h1, h1.h1FN, h1.h1LM {
top: 5vh;
width: 100vw;
padding-left: 3vw;
font-size: 10vmin;
}

.name_tagline {
margin: 0 auto;
text-align: left;
top: 4vh;
width: 100vw;
padding-left: 3vw;
z-index: 15;
}

header p {
font-size: 2rem;
padding-top: 3vh;
padding-left: 3vw;
bottom: 10vh;
z-index: 8;
}

h2 {
font-size: 5vim;
top: 5vh;
margin: 0;
padding: 0px;
}

h3 {
font-size: 4.5vmin;
font-weight: 800;
}

ul.topnavul {
list-style-type: none;
}

ul.topnavul li.topnavli
{
font-size: 1.8rem;
display: inline;
padding: 0.5rem;
margin: 0.5rem;
}

ul.topnavsmul li.topnavsmli
{
font-size: 3rem;
display: inline;
position: relative;
right: -30vw;
top: -1vh;
}

ul.topnavul li.topnavli a:hover, 
ul.topnavul li.topnavli a:active,
ul.topnavul li.topnavsmli a:hover, 
ul.topnavul li.topnavsmli a:active {
cursor: grab;
color: var(--fontvintage);
background-color: var(--color9);
padding: 0.6rem;
}

ul.topnavul li.topnavli a:hover::before {
content: none;
}



/* header blobs */

.blob_container {
display: flex;
flex-direction: row;
width: 100vw;
}

.blob {
position: absolute;
top: -60vh;
left: -20vw;
fill: var(--color7);
width: 30vmax;
z-index: 5;
animation: move 10s ease-in-out infinite;
transform-origin: 50% 50%;
opacity: 90%
}

.blob3 {
position: absolute;
bottom: 70vh;
left: 20vw;
fill: var(--color7);
width: 50vmax;
z-index: 2;
animation: move3 10s ease-in-out infinite;
transform-origin: 30% 0%;
opacity: 80%;
}

/* heading 2 orientation */

.flex_item_left {
display: flex;
width: 20vw; 
position: relative;
top: 0;
justify-content: flex-start;
border: 0;
margin: 0;
padding-top: 2rem;
padding-left: 5rem;
border-right: solid  0.5rem var(--fontvintage);
writing-mode: vertical-lr;
text-orientation: mixed;
}


  }
  
  /* MEDIA QUERY for smaller screens */
  @media screen and (max-width: 480px) {


  /* make first project double the size */
    .flex_items:first-child {
    min-height: 300px;
    flex-basis: 100%;
  }

  /* make mobile nav */
  header {
    height: 35vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background: var(--bgcolor);
    /* display: flex;
    align-items: center; */
}


header nav {
  z-index: 12;
  position: absolute;
  width: 100vw;
  top: 0;
  height: 7vh;
  margin: 0 auto;
  right: 0vw;
  text-align: center;
  opacity: 90%;
  background-color: var(--color7);
}

h1, h1.h1FN, h1.h1LM {
  top: 5vh;
  width: 100vw;
  padding-left: 3vw;
  font-size: 10vmin;
}

.name_tagline {
  margin: 0 auto;
  text-align: left;
  top: 4vh;
  width: 100vw;
  padding-left: 3vw;
  z-index: 15;
}

header p {
  font-size: 2rem;
  padding-top: 3vh;
  padding-left: 3vw;
  bottom: 10vh;
  z-index: 8;
}

h2 {
  font-size: 5vim;
  top: 5vh;
  margin: 0;
  padding: 0px;
}

h3 {
  font-size: 4.5vmin;
  font-weight: 800;
}

ul.topnavul {
  list-style-type: none;
}

ul.topnavul li.topnavli
{
  font-size: 1.8rem;
  display: inline;
  padding: 0.5rem;
  margin: 0.5rem;
}

ul.topnavsmul li.topnavsmli
{
  font-size: 3rem;
  display: inline;
  position: relative;
  right: -30vw;
  top: -1vh;
}

ul.topnavul li.topnavli a:hover, 
ul.topnavul li.topnavli a:active,
ul.topnavul li.topnavsmli a:hover, 
ul.topnavul li.topnavsmli a:active {
  cursor: grab;
  color: var(--fontvintage);
  background-color: var(--color9);
  padding: 0.6rem;
}

ul.topnavul li.topnavli a:hover::before {
  content: none;
}



/* header blobs */

.blob_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
 }

 .blob {
  position: absolute;
  top: -60vh;
  left: -20vw;
  fill: var(--color7);
  width: 30vmax;
  z-index: 5;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
  opacity: 90%
}

.blob3 {
  position: absolute;
  bottom: 70vh;
  left: 20vw;
  fill: var(--color7);
  width: 50vmax;
  z-index: 2;
  animation: move3 10s ease-in-out infinite;
  transform-origin: 30% 0%;
  opacity: 80%;
}

/* heading 2 orientation */

.flex_item_left {
  display: flex;
  width: 20vw; 
  position: relative;
  top: 0;
  justify-content: flex-start;
  border: 0;
  margin: 0;
  padding-top: 2rem;
  padding-left: 5rem;
  border-right: solid  0.5rem var(--fontvintage);
  writing-mode: vertical-lr;
  text-orientation: mixed;
}


  }
  